<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   
    <ion-title>
      <div *ngIf="(resultData?.apppages==null)">
            <p><span [innerHTML]="resultData?.slughome?.title"></span></p>
        </div>
        <div *ngIf="(resultData?.apppages)">
          <p><span [innerHTML]="resultData?.apppages?.title"></span></p>
        </div> 
   <!--  <ion-buttons class="refresh" end>
        <button ion-button color="secondary"  end>refresh</button></ion-buttons>  -->
        <ion-icon class ="refresh" name="refresh"  (click)="refreshPage()" end ></ion-icon>
       
    </ion-title>
         
  </ion-navbar>
</ion-header>

<ion-content padding>
 
 <!-- div  *ngIf="(resultData?.apppages==null); else elsetag"> -->
     <!-- <p><span [innerHTML]=" slughome?.content"></span></p> -->

  <div  *ngIf="(resultData?.apppages==null); else elsetag">
  
     <p><span [innerHTML]=" content"></span></p>
     
   </div>
   
     <!--except index page-->
   <ng-template #elsetag>
     <p> <span [innerHTML]="resultData?.apppages?.content"></span></p>
     <i class="{{resultData?.apppages?.icon}}"  aria-hidden="true"></i>
     <ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
   </ng-template>
  </ion-content>

  <ion-footer>
  <ion-toolbar>
    <ion-title> <p [innerHTML]=" resultData?.metadata?.app_footer_content"></p> </ion-title>
  </ion-toolbar>
</ion-footer>