<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
        <button ion-button menuToggle>
      <ion-icon name="close"></ion-icon>
    </button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
   <!--    <button menuClose  *ngFor="let p of resultData?.AppkitPage">
        {{p}}
      </button> -->
       <ion-item *ngFor="let show of homepage" menuClose (click)="detailsPage(show.id);">
         <!--  {{show.title}} -->
           <span [innerHTML]="show.title"></span>
        </ion-item>
        <ion-item (click)="products()" menuClose>Products</ion-item>
        <ion-item (click)="posts()" menuClose>Posts</ion-item>
        <ion-item (click)="Apidata()" menuClose>Dataset</ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
