page-contact-us {
	.back-button.show-back-button{
		display:none;
	}
  agm-map {
      height: 300px;
    }
	.invalid {
            border: 1px solid #ea6153;
    }
   	.alert-danger > div > p{
   		color:red;
   	}
 	.item{
 		padding-left:0px;
 	}
    ion-label, .select-text {
        
    }

    ion-input, ion-select, ion-textarea {
        background-color: #f2f2f2;

    }
}
