
<ion-header>
	<ion-navbar primary>
	<ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="back()">
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Enquiry</ion-title>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding >

<div class="container">
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
</div>

  <ion-auto-complete [dataProvider]="completeTestService"></ion-auto-complete>
  
  <ion-item>
      <ion-label>Search your city</ion-label>
      <ion-input   type="text" (click)="location()" required></ion-input>
  </ion-item>

 <!--  <ion-item>
      <ion-label>Search your city</ion-label>
      <ion-input (click)="Map()" id="autolocaion" required></ion-input>
  </ion-item> 
 -->

  <ion-card-content>
  Latest Picture:
  <img src="../../assets/img/sarah-avatar.png.jpeg" id ="myimg">
    <img [src]="(htmlImageFromCamera)" *ngIf="htmlImageFromCamera" />
  </ion-card-content>
  <button ion-button round (click)="takePicture()">Take a Picture</button>

  






<!-- <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p> -->
<div *ngIf="loginForm">
<form [formGroup]="loginForm"  novalidate="novalidate">
  <ion-list>
  
 
    <ion-item>

      <ion-label  floating>FirstName</ion-label>
      <ion-input type="text" formControlName="firstname"  [(ngModel)]="firstname"></ion-input>
      
    </ion-item>
    <div *ngIf="loginForm.controls.firstname.invalid && (loginForm.controls.firstname.dirty || loginForm.controls.firstname.touched)"
      class="alert alert-danger">
      <div *ngIf="loginForm.controls.firstname.errors.required">
        <p>Name is required.</p>
      </div>
      <div *ngIf="loginForm.controls.firstname.errors.minlength">
        <p>Name must be at least 3 characters long.</p>
      </div>
       <div *ngIf="loginForm.controls.firstname.errors.pattern">
            <p>Please Enter a valid  name</p>
        </div>
    </div>
  
    <ion-item>
      <ion-label floating>Email or message</ion-label>
       <ion-input type="email" formControlName="message"  [(ngModel)]="message"></ion-input>
    </ion-item>
     <div *ngIf="!loginForm.controls.message.valid  && loginForm.controls.message.touched && (loginForm.controls.message.dirty || submitAttempt)" style="color: red;" >
        <div *ngIf="loginForm.controls.message.errors.required">
           <p>Email is required</p>
        </div>
        <div *ngIf="loginForm.controls.message.errors.pattern">
            <p>Please Enter a valid email </p>
        </div>
    </div>
    
   
    <ion-item>
       <ion-label floating>Mobile No</ion-label>
       <ion-input type="number" formControlName="mobile" [(ngModel)]="mobile"></ion-input>
    </ion-item>
    <div *ngIf="!loginForm.controls.mobile.valid && loginForm.controls.mobile.touched &&(loginForm.controls.mobile.dirty || submitAttempt)" style="color:red">
      <div *ngIf="loginForm.controls.mobile.errors.required">
           <p>Mobile Number is required</p>
      </div>
      <div *ngIf="loginForm.controls.mobile.errors.minlength">
           <p>Mobile number must be greater than 10</p>
      </div>
      <div *ngIf="loginForm.controls.mobile.errors.maxlength">
           <p>Mobile number must be less than 10</p>
      </div>
      <!--  <div *ngIf="loginForm.controls.mobile.errors.pattern">
            <p>Please Enter a valid  Mobile number</p>
        </div> -->
     
    </div>
   
    <ion-item>
      <ion-label floating>Sex or Department</ion-label>
      <ion-select formControlName="department" [(ngModel)]="department">
        <ion-option value="Male">Male</ion-option>
        <ion-option value="Female">Female</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="!loginForm.controls.department.valid && loginForm.controls.department.touced && (loginForm.controls.department.dirty || submitAttempt)" style="color:red">
      
        <p>Please enter a department</p>
     
    </div>
    <br><br>
  
  

  <button ion-button full color="primary" [disabled]="loginForm.invalid" (click)="save()">Create Account!</button>
 <!--  [disabled]="loginForm.invalid" -->
  
 <!--  <button ion-button color="secondary" type="submit" (click)="reset(name,mobile,message,department)">Reset</button> -->
  </ion-list>
  </form>
  </div>
</ion-content>
